[submodule "components/pax-gfx"]
	path = components/pax_gfx
	url = https://robotman2412@github.com/robotman2412/pax-graphics
[submodule "components/appfs"]
	path = components/appfs
	url = https://github.com/badgeteam/esp32-component-appfs
[submodule "components/esp32-component-ch32v203prog"]
	path = components/esp32-component-ch32v203prog
	url = https://github.com/badgeteam/esp32-component-ch32v203prog
[submodule "components/badge-bsp/badgelib"]
	path = components/badge-bsp/badgelib
	url = https://badgeteam@github.com/badgeteam/badgelib
[submodule "main/kbelf"]
	path = main/kbelf
	url = https://robotman2412@github.com/robotman2412/KiloElfLoader
[submodule "components/esp32-component-badge-bsp"]
	path = components/esp32-component-badge-bsp
	url = https://github.com/badgeteam/esp32-component-badge-bsp.git
	branch = why2025-init
