[submodule "components/pax-gfx"]
	path = components/pax-gfx
	url = https://robotman2412@github.com/robotman2412/pax-graphics
[submodule "components/pax-codecs"]
	path = components/pax-codecs
	url = https://github.com/robotman2412/pax-codecs.git
